{% extends 'base.html'%}
{% block content %}
<div class="container-fluid">
    <section id="showcase">
        <div class="bg-image">
            <h1 class="hero-header">Bespoke Software Solutions</h1>
            <hr class="hero">
            <p class="hero-text">Free bug fixes for all our clients and irresistible price for additional features</p>
            <div class="col text-center">
                 <button type="button"  class="btn btn-danger text-center">Sign Up</button>
            </div>
        </div>
    </section>
</div>
<div class="container-fluid">
    <div class="services-section">
        <h2 class="section-header">Services</h2>
    </div>
</div>
{% endblock %}