{% extends 'base.html'%} {% load static from staticfiles %} {% block content %}
<div class="container-fluid">
    <section id="showcase">
        <div class="bg-image">
            <h1 class="hero-header">MAKE YOUR BUSINESS A CASH COW!!</h4>
            <p class="hero-text">Transform your business with our Unicorn Attractor CRM software</p>
            <div class="col text-center">
                <a href="#"><button type="button" class="landingbtn"><span>Get Unicorn Attractor €50/pm</span></button></a>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <div class="service-section">
        <h2 class="section-header">Services</h2>
    </div>
    <div class="card-deck">
        <div class="card card-display">
            <img src="{% static 'img/bug.png'%}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Bug Fixing</h5>
                <p class="card-text">Get your app or website bugs fixed for free!! when you join our ever growing Unicorns Community. If we made it, we will fix it for FREE!! </p>
            </div>
        </div>
        <div class="card card-display">
            <img src="{% static 'img/eng.png'%}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Adding New Features</h5>
                <p class="card-text">Bespoke additional features for your business app or website. We wil spend 50% of our working time developing the highest paid features</p>
            </div>
        </div>
        <div class="card card-display">
            <img src="{% static 'img/comp.png'%}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Software & Web Development</h5>
                <p class="card-text">Let you website do the marketing for you. We will make you website stand out amoung millions of websites. You're a click away from being among the best in your trade</p>
            </div>
        </div>
    </div>
</div>
<section class="container-fluid">
    <div class="review1">
        <h2 class="reviews-header">Reviews</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'img/mia.jpg' %}" class="reviews-img text-center">
            </div>
            <div class="col-md-6">
                <hr class="review1-hr">
                <div class="review1-text">
                    <h6 class="client-name">Mia O'Sullivan</h6>
                    <br>
                    <p class="quotes">"My business has boomed since i start using the Unicorn Attractor CRM. I am now able to keep track of my customers and build a strong relationship with my clients. Thank you so much for this amazing app it has not only saved my life but also the future of my family"</p>
                </div>
            </div>
        </div>
    </div>
    <div class="review2">
        <div class="row">
            <div class="col-md-6">
                <hr class="review2-hr">
                <div class="review2-text">
                    <h6 class="client-name2">Micheal Smith</h6>
                    <br>
                    <p class="quotes2">"Good value for money, It is a layered product that you can use with ease, without flooding your screen with more information than you need to follow customer cases. If you want to drill down to more functionality, you can enter it without changing too many screens and wasting time back and forth."</p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{% static 'img/guy-image.png'%}" class="reviews-img text-center">
            </div>
        </div>
    </div>
    <div class="review1">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'img/girl-image.png'%}" class="reviews-img text-center">
            </div>
            <div class="col-md-6">
                <hr class="review1-hr">
                <div class="review1-text">
                    <h6 class="client-name">Jane Doe</h6>
                    <br>
                    <p class="quotes">"Overall, I enjoy using Unicorn Attractor CRM. It does everything I need it to do. I still rely on other tools to schedule emails and take meeting notes, but I still track everything back to the trusty CRM. Also, their support is very sincere and helpful. They go above and beyond to ensure a problem gets fixed in a timely manner."</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
