{% extends 'base.html'%} {% load static from staticfiles %} {% block content %}
<div class="container-fluid">
    <section id="showcase">
        <div class="bg-image">
            <h1 class="hero-header">Bespoke Software Solutions</h1>
            <hr class="hero">
            <p class="hero-text">Free bug fixes for all our clients and irresistible price for additional features</p>
            <div class="col text-center">
                <a href="{% url 'signup' %}"><button type="button"  class="btn btn-danger text-center" width="30px">Sign Up</button></a>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <div class="service-section">
        <h2 class="section-header">Services</h2>
    </div>
    <div class="card-deck">
        <div class="card card-display">
            <img src="{% static 'img/bug.png'%}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Bug Fixing</h5>
                <p class="card-text">Get your app or website bugs fixed for free!! when you join our ever growing Unicorns Community. If we made it, we will fix it for FREE!! </p>
            </div>
        </div>
        <div class="card card-display">
            <img src="{% static 'img/eng.png'%}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Adding New Features</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card card-display">
            <img src="{% static 'img/comp.png'%}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Software & Web Development</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>
</div>
<section class="container-fluid">
    <div class="reviews-section">
        <h2 class="reviews-header">Reviews</h2>
        <hr class="reviews-hr">
    </div>
    <div class="review1">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'img/mia.jpg' %}" class="reviews-img text-center">
            </div>
            <div class="col-md-6">
                <hr class="review1-hr">
                <div class="review1-text">
                    <h6 class="client-name">Mia O'Sullivan</h6>
                    <br>
                    <p class="quotes">"My business has boomed since i start using the Unicorn Attractor CRM. I am now able to keep track of my customers and build a strong relationship with my clients. Thank you so much for this amazing app it has not only saved my life but also the future of my family"</p>
                </div>
            </div>
        </div>
    </div>
    <div class="review2">
        <div class="row">
            <div class="col-md-6">
                <hr class="review2-hr">
                <div class="review2-text">
                    <h6 class="client-name2">Micheal Smith</h6>
                    <br>
                    <p class="quotes2">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae similique ad in accusantium quo assumenda expedita. Ratione eum dolor maiores consequuntur et, natus necessitatibus laudantium provident ab eligendi amet rerum,
                        vitae quo, at quas in eveniet odio labore expedita esse nam! Quod necessitatibus dolorem dolore provident harum quis eius voluptatibus."</p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{% static 'img/guy-image.png'%}" class="reviews-img text-center">
            </div>
        </div>
    </div>
    <div class="review1">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'img/girl-image.png'%}" class="reviews-img text-center">
            </div>
            <div class="col-md-6">
                <hr class="review1-hr">
                <div class="review1-text">
                    <h6 class="client-name">Jane Doe</h6>
                    <br>
                    <p class="quotes">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae similique ad in accusantium quo assumenda expedita. Ratione eum dolor maiores consequuntur et, natus necessitatibus laudantium provident ab eligendi amet rerum,
                        vitae quo, at quas in eveniet odio labore expedita esse nam! Quod necessitatibus dolorem dolore provident harum quis eius voluptatibus."</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
