{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block page_title %}Bug Form{% endblock %}{% block content %}
<div class="container-fluid">
     <div class="bg-image3">
          <div class="bugform-section">
               <h1 class="form-header">Submit Issue</h1>
               <form class="bug-form" method="POST">
                    {% csrf_token %} {{ bug_form.as_p }}
                    <button class="btn btn-success" type="submit">Submit</button>
               </form>
          </div>
     </div>
</div>
{% endblock %}
