{% extends 'base.html' %} {% load static from staticfiles %} {% block content %}
<div class="container">
  <div class="card mt-5 mb-3" id="card{{ bug.id }}">
    <div class="row">
      <div class="col-md-1">
        <img src="/static/img/bbug.png" class="card-img-top mt-4 ml-4" id="bugcardimg" alt="Bug Image Avatar">
      </div>
      <div class="col-md-9">
        <h2 class="card-title" id="bugcardimg">{{ bug.title }}</h2>
      </div>
      <div class="col-md-1">
        <a href="{% url 'edit_issue' bug.id %}" class="btn btn-info mt-4">Edit</a>
        <a href="{% url 'delete_issue' bug.id %}" class="btn btn-info mt-4" value="Click">Delete</a>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <form class="comments">
        <input type="text" class="form-control" id="comm" name="comment" />
        <button class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
