{% extends 'base.html' %} {% block page_title %}Reset Password{% endblock %} {% block content %}
<div class="container-fluid">
     <div class="bg-image3">
          <div class="row">
               <div class="login-box mt-5 mb-5">
                    <h1 class="form-header">Password Reset</h1>
                    <form method="POST">
                         {% csrf_token %} {{ form.email.error.as_p }}
                         <p><label for="id_email" class="control-label required-field">E-mail address:</label> {{ form.email }}</p>
                         <input type="submit" class="btn btn-info btn-block text-uppercase" value="Reset password" />
                    </form>
               </div>
          </div>
     </div>
</div>
{% endblock %}
