/*----------------------------------------------Navbar styles-----------------*/
.navbar{
    max-height: 100px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}
@media (max-width: 600px) { 
    .navbar-brand img {
        max-height: 70px;
        position: absolute;
        left: 15px;
        top: 0;
        margin: 0;
        padding-top: 0;
    }
}

.navbar-brand img {
    max-height: 83px;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link{
    padding-top: 0;
    padding-bottom: 1rem;
    color: #fff !important;
    border-bottom: 3px solid transparent
}

.navbar-dark .navbar-nav .nav-link:hover{
    border-bottom: 3px solid #FF69B4;
    transition: 0.7s all ease;
    left: 0
}
.navbar-dark .navbar-nav .nav-link:active{
    border-bottom: 3px solid #FF69B4;
}

.navbar-collapse {
    margin-top: 38px;
    background-color: #1a1a1a;
    padding-left: 10px;
    margin-left: 50px;
}

/*---------------------------------------------------home--------------------*/
#showcase .bg-image{
    background-image: linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.2)),
    url(/media/img/hero.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 95vh;
    width: 100%;
    top: 0;
}
.hero-header {
    text-align: center;
    font-size: 4vw;
    color: #fff;
    font-weight: 900;
    padding-top: 150px;
    font-family: encode sans-serif;
}

.hero{
    border: 5px solid #FF69B4;
    width: 30vw;
    margin-top: 0px;
}
.hero-text{
    text-align: center;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 700;
    
}
.btn-danger{
    padding: 1rem 6rem;
    border-radius: 40px;
    font-size: 20px;
}
/*------------------------------------------------container------------------*/
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
/*--------------------------------------------------Services Section---------*/
.section-header{
    text-align: center;
    color: #152579;
    font-size: 3vw;
    margin-top: 50px;
}

.section-hr {
    width: 10%;
    border: 2px solid #152579;
}

.card-img-top {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 41px;
    max-height: 100px;
    max-width: 123px;
}
.service-section{
    margin-top: 70px;
}
.card-deck {
    margin-top: 100px;
    margin-bottom: 100px;
}
.card{
    box-shadow: 0px 0px 5px 5px #152579;
}
/*---------------------------------------------------Reviews Section ---------*/
.reviews-header {
    color: #fff;
    text-align: center;
    font-size: 3vw;
    margin-top: 50px;
    padding-top: 40px;
}

.reviews-hr{
    width: 10%;
    border: 2px solid #fff;
}
.reviews-img{
    margin-top: 80px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    max-height: 200px;
    margin-top: 70px;
}
.reviews-section{
    background-color: #152579;
    padding-bottom: 15px;
    
}
.review1{
    background-color: #152579;
    padding-bottom: 60px;
}
.review1-hr {
    width: 80%;
    border: 2px solid #fff;
    margin-top: 80px;
}

.review1-text {
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 20px;
}

.client-name{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.quotes{
    color: #fff;
}


.review2-hr{
    width: 80%;
    border: 2px solid #152579;
    margin-top: 80px;
}
.review2-text {
    margin-left: 70px;
    margin-top: 10px;
    margin-right: 20px;
}

.client-name2{
    color: #152579;
    font-size: 15px;
    font-weight: 600;
    
    
}
.quotes2{
    color: #152579;
}

/*---------------------------------------------------Footer-------------------*/
#footer {
    background-color: #6699FF;
}
.footer-logo{
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 80px;
}
.copyrights {
    text-align: center;
    background-color: #C4C4C4;
    padding: 20px;
}
.copyrights-text{
    color: #0000ff;
}