html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    zoom: 1;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.alert {
    margin-bottom: 0;
}

/*----------------------------------------------------------------------------------------------------------------------Global----------*/

.container-fluid {
    width: 100%;
    height: auto;
    padding-right: 0px;
    padding-left: 0px;
}

/*----------------------------------------------------------------------------------------------------------------------Base page---------*/

.navbar {
    max-height: 100px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 1;
}

.navbar-brand img {
    max-height: 83px;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 1rem;
    color: #fff;
    border-bottom: 3px solid transparent;
    transition: ease-in-out 1s;
    left: 0;
    transition-property: width
}

.navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 3px solid #FF0;
    transition: ease-in-out 1s;
    left: 0;
    transition-property: width;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    border-bottom: 3px solid #ff0;
    color: #ff0
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
    float: right;
    width: fit-content;
}

.navbar-collapse {
    margin-top: 38px;
    background-color: #1a1a1a;
    padding-left: 10px;
    margin-left: 50px;
}

.nav-item {
    margin-right: 1rem;
}

/*-----------------------------Footer----*/

#footerimg {
    background-color: #6699FF;
}

.footer-logo {
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 80px;
    max-width: 250px
}

.copyrights {
    text-align: center;
    background-color: #C4C4C4;
    padding: 20px;
}

.copyrights-text {
    color: #0000ff;
}

/*--------------------------------------------------------------------homepage----------*/

#showcase .bg-image {
    background-image: linear-gradient(rgba(20, 20, 234, .4), rgba(20, 20, 234, .2)),
    url(/static/img/happy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 95vh;
    position: relative;
    width: 100%;
    top: 0;
    filter: drop-shadow(2px 4px 6px blue);
}

.hero-header {
    text-align: center;
    font-size: 48px;
    color: #FF0;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    padding-top: 150px;
}

.hero-header2 {
    text-align: center;
    font-size: 48px;
    color: #fff;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    padding-top: 0px;
}

.hero {
    border-top: 3px solid #FF69B4;
    width: 30%
}

.hero-text {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    -webkit-text-stroke: .5px #fff;
    
}
hero-txt {
    text-align: center;
    color: #ff0;
    font-size: 18px;
    font-weight: 900;
    -webkit-text-stroke: .5px #ff0;
    
}

.landingbtn {
    color: #fff;
    background-color: transparent;
    width: 330px;
    font-size: 22px;
    border-radius: 4px;
    height: 70px;
    cursor: pointer;
    border: 3px solid yellow;
    transition: ease-in-out 0.5s;
}

.landingbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.landingbtn span:after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #fff;
}
.landingbtn:hover {
    padding-right: 25px;
    opacity: 6;
    right: 0;
    color: #fff;
    transition: ease-in-out 0.5s;
    background-color: #c7c756;
}
.landingbtn:visited {
    padding-right: 25px;
    opacity: 6;
    right: 0;
    color: #fff;
    transition: ease-in-out 0.5s;
    background-color: #c35d5d;
}

.landingbtn:hover span:after {
  opacity: 1;
  right: 0;
  color: #fff;
}

/*---------------------------------------------------------------Services Section---------*/

.section-header {
    text-align: center;
    color: #152579;
    font-size: 40px;
    margin-top: 50px;
}

.card-img-top {
    margin-left: auto;
    margin-right: auto;
    margin-top: 41px;
    height: 70px;
    width: 80px;
}

.service-section {
    margin-top: 70px;
}

.card-deck {
    margin-top: 100px;
    margin-bottom: 100px;
}

.card.card-display {
    box-shadow: 2px 2px 2px 1px #d3d3d3;
}
div.card-deck .card {
    margin-bottom: 30px
}


/*--------------------Reviews Section ---------*/

.reviews-header {
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    padding-top: 40px;
}

.reviews-hr {
    width: 10%;
    border-top: 5px solid #fff;
    border: none;
    float: left;
}

.reviews-img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    height: 200px;
    margin-top: 80px;
}

.reviews-section {
    background-color: #152579;
    padding-bottom: 15px;

}

.review1 {
    background-color: #152579;
    padding-bottom: 60px;
    height: 100%;
}

.review1-hr {
    width: 80%;
    border-top: 5px solid #fff;
    margin-top: 52px;
}

.review1-text {
    margin-top: 38px;
    margin-left: 60px;
    margin-right: 20px;
}

.client-name {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.quotes {
    color: #fff;
}

.review2 {
    background-color: #fff;
    padding-bottom: 60px;
    height: 100%;
}

.review2-hr {
    width: 80%;
    border-top: 5px solid #152579;
    margin-top: 80px;
}

.review2-text {
    margin-left: 70px;
    margin-top: 10px;
    margin-right: 20px;
}

.client-name2 {
    color: #152579;
    font-size: 15px;
    font-weight: 600;
}

.quotes2 {
    color: #152579;
}

/*--------------------------------------------------------------------Services Page---------------*/

#servicesshowcase .bg-image2 {
    background-image: linear-gradient( rgba(19, 19, 19, 0.1),
    rgba(19, 19, 19, 0.1)),
    url(/static/img/laptop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 95vh;
    width: 100%;
    top: 0;
}

.addcartinputs {
    display: block;
    width: 17%;
    margin-left: 92.5%;
    padding: 0.75rem 2rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #55595c;
    background-color: #f7f7f9;
    background-clip: padding-box;
    border: 0 solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, 
    -webkit-box-shadow 0.15s ease-in-out;
}

.all-feature-add {
    margin-left: 37%;
    height: 42px;
    border: none;
    background: #4BB543;
    width: 97px;
    color: #fff;
}
.all-feature-price{
    margin-left: 80%;
    color: #000;
}

.hero-text2 {
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: 900;
}

.bugsection {
    padding: 100px;
}

.bugssection-header {
    color: #CC0066;
}

.bugsection-text {
    color: #CC0066;
}

.issues-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 15px;
    color: #fff;
    border-style: none;
    background-color: #4BB543;
    text-align: center;
    margin-left: 24px;
}

.bugsec-img {
    max-height: 300px;
}

.webdev-img {
    max-height: 300px;
    margin-left: 20vh;
    margin-top: 10vh;
    margin-right: auto;
}

.webdev-header {
    color: #fff;
}

.webdev-text {
    color: #fff;
}

/*---------------Feature view----*/

img.comments-img {
    max-height: 22px;
    border-radius: 50%;
}

.view-all{
    margin-top: 29px;
    width: 120px;
    height: 41px;
    border: none;
    color: #fff;
    background-color: #0080FF;
}

/*---------------------------------------------------------------------Login Page--------------*/

.bg-image3 {
    background-image: linear-gradient( rgba(19, 19, 19, 0.1),
    rgba(19, 19, 19, 0.1)),
    url(/static/img/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
}

.login-box {
    width: 30%;
    height: 70%;
    background: rgb(0, 0, 0, 0.5);
    opacity: 0.7;
    color: #fff;
    position: relative;
    padding: 20px 30px;
    margin-left: auto;
    margin-right: auto;
}

.form-header {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 900;
    -webkit-text-stroke: .5px #fff;
}

.fieldset {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 900;
    -webkit-text-stroke: .7px #fff;
}

.login-box input {
    width: 100%;
    margin-bottom: auto;
}

input#id_remember_me {
    height: 16px;
    width: 17px;
    margin-top: 15px;
}

.login-box input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: #fff;
    outline: none;
    height: 45px;
    color: #000;
}

login-box input[type="submit"] {
    border: none;
    outline: none;
    height: auto;
    background-color: #1c8adb;
    color: #fff;
    font-size: 18px;
}

login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.forgot-pswd {
    margin-left: 116px;
    color: #fff;
}

.forgot-pswd:hover {
    color: #1c8adb;
}

strong.alert-text {
    color: #fff;
}

a.redirect-text {
    text-decoration: none;
    font-size: 14px;
    color: #32CD32;
    margin-left: 10px;
}

a.redirect-text:hover {
    color: #f70d1a;
}

/*-----------------------------------------------------------------------Sign Page--------------*/

.bg-image4 {
    background-image: linear-gradient( rgba(19, 19, 19, 0.1),
    rgba(19, 19, 19, 0.1)),
    url(/static/img/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    height: auto;
}

.signup-box {
    width: 380px;
    background: rgb(0, 0, 0, 0.5);
    opacity: 0.7;
    color: #fff;
    height: auto;
    vertical-align: middle;
    box-sizing: border-box;
    position: relative;
    padding: 20px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;

}

input,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: 40px;
    width: 316px;
}

footer-text {
    padding: 20px
}

.privacy-policy {
    color: #87ceed;
}

.privacy-policy:hover {
    color: #f70d1a;
}

/*---------------------------------------------------------------------Contact Us Page---*/

.bg-image5 {
    background-image: linear-gradient( rgba(19, 19, 19, 0.1),
    rgba(19, 19, 19, 0.1)),
    url(/static/img/contactus.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    height: auto;
}

.contact-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}

.contactus-header {
    text-align: center;
    font-size: 48px;
    color: #fff;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

.col-6 {
    margin-left: auto;
    margin-right: auto;
}

.contactus-text {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    -webkit-text-stroke: .5px #fff;

}

.contact-message {
    width: 100%;
    height: 300px;
}

.form-label {
    color: #fff;
}

.contactus-icons {
    color: #152579;
    font-size: 52px;
    margin-left: 3em;
    margin-right: 3em;
}

.contacts-title {
    text-align: center;
    color: #152579;
}

.contacts-text {
    text-align: center;
    color: #152579;
}

/*-------follow us section-----*/

.followus-section {
    background-color: #152579;
    padding-bottom: 40px;
}

.socialmedia-links {
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 20px
}

.socmed-text {
    text-align: center;
    color: #fff;
}

.d-inline-block {
    padding: 50px;
}

.fab {
    font-size: 46px;
    color: #fff;
}

/*------------------------------------------------------------------------Community Page--------*/

.bg-image6 {
    background-image: linear-gradient( rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .3)), 
    url(/static/img/communtiy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
    top: 0;
}

.comm-header {
    text-align: center;
    font-size: 48px;
    color: #fff;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    padding-top: 200px;
}

.comm-text {
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.gs-header {
    text-align: center;
    color: #152579;
    font-size: 40px;
    margin-top: 50px;
}

.card .card-comm {
    -webkit-text-stroke: .5px #000;
}

/*-------------------------------------------------------------------bug form page -----------------*/

.bugform-section {
    padding-top: 5%;
    padding-bottom: 5%;
}

input#title-input.form-control {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#descript-input.form-control {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.bug-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}

.btn-success {
    color: #fff;
    background-color: #4BBF73;
    border-color: #4BBF73;
    width: 100%;
}

/*--------------------------------------------------------------------Bugview page--------------*/

img#bugcardimg.card-img-top {
    max-height: 40px;
    max-width: 40px;
}

#bugcardimg.card-title {
    color: #1f9bcf;
    margin-top: 24px;
    margin-left: 24px;
}


.likebtn {
    width: 75px;
    height: 40px;
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    border: none;
}

.likebtn2 {
    width: 75px;
    height: 40px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
    border: none;

}

/*------------------------------------Profile Page-----------*/

.profile-img {
    max-width: 200px;
    border-radius: 50%;
    height: 30vh;
    margin-left: 20%;
}

.user-profile {
    background-color: #152579;
    padding-bottom: 5%;
}

.user_prof_heading {
    color: #fff;
    margin-left: 20%;
    margin-top: 10%;
}

.profile-name {
    color: #fff;
    margin-top: 22%;
    margin-left: 8%
}

.profile-info {
    color: #fff;
    margin-left: 8%
}

#edit-pro {
    margin-left: 8%;
}
.profissues {
    text-align: center;
    color: #152579;
    font-size: 28px;
    margin-bottom: 30px;
}
/*--------------------------------------------------------------------------------Cart page---------------------*/
.noitems {    
    text-align: center;
    margin-top: 100px;
    color: red;
}
.noitems-description {
    text-align: center;
    color: #000;
}
.caption {
    margin-left: 36%;
    margin-right: -20%;
    margin-top: 5%;
}
.carttotal{
    margin-left: 37%;
    font-size: 25px;
    color: black;
    margin-top: 3%;
}

.cartmend-btn{
    border: none;
    background-color: skyblue;
    color: #fff;
    transition: ease-in-out .5s;
}
.cartmend-btn:hover{
    border: none;
    background-color: #60a0ba;
    transition: ease-in-out .5s;
}
/*--------------------------------------------------------------------Checkout Page---*/
.checkoutpg {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
}
.checkoutanchor{
    margin-top: 3%;
}
.checkout-btn{
    margin-left: 1%;
    width: 135px;
    margin-bottom: 5%;
    background-color: #4bb543;
    border: none;
    color: #fff;
    transition: ease-in-out .5s;
}
.checkout-btn:hover{
    background-color: #478542;
    transition: ease-in-out .5s;
}
.ordertotal{
    margin-left: 2%;
}






