{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="container">
    {% for feature in features %}
    <div class="card mt-3 mb-3">
        <div class="card-body">
            <h5 class="card-header">{{ feature.title }} {% if feature.status == "to do" %}
                <span class="badge badge-danger">{{ feature.status }}</span> {% elif feature.status == "doing" %}
                <span class="badge badge-warning">{{ feature.status }}</span> {% else %}
                <span class="badge badge-success">{{ feature.status }}</span> {% endif %}
            </h5>
            <form method="POST" action="{% url 'add_to_cart' feature.id %}" class="all-feature-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-10">
                        <input name="quantity" type="number" min="1" max="999" class="addcartinputs" placeholder="Qnty" required>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-2">
                        <button class="all-feature-add" type="submit">add to cart</button>
                    </div>
                </div>
            </form>
            <span class="all-feature-price"><i class="fa fa-tag"></i> €{{ feature.price }}.00</span>
            <p class="card-text">{{ feature.content }}</p>
            <a href="{% url 'featureview' id=feature.id %}" class="btn btn-info">view more</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
