{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="container">
    {% for feature in features %}
    <div class="card mt-3 mb-3">
        <div class="card-body">
            <h5 class="card-header">{{ feature.title }} {% if feature.status == "to do" %}
                <span class="badge badge-danger">{{ feature.status }}</span> {% elif feature.status == "doing" %}
                <span class="badge badge-warning">{{ feature.status }}</span> {% else %}
                <span class="badge badge-success">{{ feature.status }}</span> {% endif %}
            </h5>  style="width: 30%; margin-left: 70%">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" required>
                    <span class="imput-group-btn">
                        <button class="btn btn-success" type="submit">add to cart</button>
                    </span>
                </div>
            </form>
            <span style="margin-left: 90%"><i class="fa fa-tag"></i> €{{ feature.price }}.00</span>
            <p class="card-text">{{ feature.content }}</p>
            <a href="{% url 'featureview' id=feature.id %}" class="btn btn-info">view more</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
