{% extends 'base.html'%}
{% block content %}
<div class="container-fluid">
    <section id="servicesshowcase">
        <div class="bg-image2">
            <h1 class="hero-header">Software Solutions</h1>
            <hr class="hero">
            <p class="hero-text2">Develop, Maintain and Renovate</p>
        </div>
    </section>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="bugsection">
                <h2 class="bugssection-header">Bug Fixing</h2>
                <p class="bugsection-text">WE FIX BUGS FOR FREE!! YES FOR FREE NO MONEY<br>NEEDED AND IF YOU NEED ADDITIONAL FEATURES<br>YOU WILL BE REQUIRED TO PAY A FEE DEPENDING<br>WITH THE VALUATION OF OUR TEAM</p>
                <br>
                <p class="bugsection-text">CLICK HERE TO GET A BUG FIXED</p>
                <br>
                <button class="issues-btn">ISSUES</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bugsection">
                <img src="/media/img/bugfix.png" class="bugsec-img">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="review1">
        <div class="row">
            <div class="col-md-6">
                <img src="/media/img/webdev.png" class="webdev-img text-center">
            </div>
            <div class="col-md-6">
                <div class="review1-text">
                    <h3 class="webdev-header">Web Development</h3>
                    <br>
                    <p class="webdev-text">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Repudiandae similique ad in accusantium quo assumenda expedita.<br>Ratione eum dolor maiores consequuntur et, natus necessitatibus<br> laudantium provident ab eligendi amet rerum, vitae quo, at quas<br>  in eveniet odio labore expedita esse nam! Quod necessitatibus <br> dolorem doloreprovident harum quis eius voluptatibus."</p>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
{% endblock %}