{% extends 'base.html'%} {% load static from staticfiles %} {% block content %}
<div class="container-fluid">
    <section id="servicesshowcase">
        <div class="bg-image2">
            <h1 class="hero-header">Software Solutions</h1>
            <hr class="hero">
            <p class="hero-text2">Develop, Maintain and Innovate</p>
        </div>
    </section>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="bugsection">
                <h2 class="bugssection-header">Bug Fixing</h2>
                <p class="bugsection-text">WE FIX BUGS FOR FREE!! YES FOR FREE NO MONEY NEEDED AND IF YOU NEED ADDITIONAL FEATURES YOU WILL BE REQUIRED TO PAY A FEE DEPENDING WITH THE VALUATION OF OUR TEAM</p>
                <p class="bugsection-text">TO GET YOUR BUGS FIXED OR<br>REQUEST ADDITIONAL FEATURES<br>CLICK THE BUTTON BELOW!!</p>
                <br>
                <a href="{% url 'bugform' %}" <button class="issues-btn">SUBMIT ISSUES</button></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bugsection">
                <img src="/static/img/bugfix.png" class="bugsec-img">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="review1">
        <div class="row">
            <div class="col-md-6">
                <img src="/static/img/webdev.png" class="webdev-img text-center">
            </div>
            <div class="col-md-6">
                <div class="review1-text">
                    <h3 class="webdev-header">Web Development</h3>
                    <br>
                    <p class="webdev-text">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Repudiandae similique ad in accusantium quo assumenda expedita.<br>Ratione eum dolor maiores consequuntur et, natus necessitatibus<br> laudantium provident ab eligendi
                        amet rerum, vitae quo, at quas<br> in eveniet odio labore expedita esse nam! Quod necessitatibus <br> dolorem doloreprovident harum quis eius voluptatibus."</p>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>
<div class="container mb-5">
    <div class="gs-section">
        <h2 class="gs-header">Features Section</h2>
        <hr class="section-hr">
    </div>
    {% for feature in features %}
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="heading{{ feature.id }}">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ feature.id }}" aria-expanded="false" aria-controls="collapse{{ bug.id }}">{{ feature.title }}</button> {% if feature.status == "to do" %}
                    <span class="badge badge-danger" style="margin-left: 40%">{{ feature.status }}</span> {% elif feature.status == "doing" %}
                    <span class="badge badge-warning" style="margin-left: 40%">{{ feature.status }}</span> {% else %}
                    <span class="badge badge-success" style="margin-left: 40%">{{ feature.status }}</span> {% endif %}
                    <small class="text-muted" style="margin-left: 5%">{{ feature.author }}</small>
                </h5>
            </div>
            <div id="collapse{{ feature.id }}" class="collapse" aria-labelledby="heading{{ feature.id }}" data-parent="#accordion">
                <div class="card-body">
                    <p>{{ feature.content }}</p>
                    <a href="{% url 'featureview' id=feature.id %}" class="btn btn-primary">Read more</a>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
    <a href="{% url 'allfeatures' %}"><button>See All Features</button></a>
    <a href="{% url 'request_feature' %}" <button class="issues-btn">Request Feature</button></a>
</div>
{% endblock %}
