{% extends 'base.html' %} {% load static from staticfiles %} {% block page_title %} {{ user }}'s Profile {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="user-profile">
        <div class="row">
            <div class="col-md-4">
                <h3 class="user_prof_heading">Personal Profile</h3>
                <img src="{{ user.profile.image.url }}" class="profile-img" alt="profile-picture" border="0" />
            </div>
            <div class="col-md-8">
                <form id="update_profile" method="POST" enctype="multipart/form-data">
                    {% csrf_token %} {{ u_form.as_p }} {{ p_form.as_p }}
                    <a href="{% url 'edit_profile' %}" class="btn btn btn-outline-info" id="edit-pro">
                        <i class="far fa-paper-plane"></i> Update Profile
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
