{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block page_title %} UA |{{ user }}'s Profile {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="user-profile">
        <div class="row">
            <div class="col-md-4">
                <h3 class="user_prof_heading">Personal Profile</h3>
                <img src="{{ user.profile.image.url }}" class="profile-img" alt="profile-picture" border="0" />
            </div>
            <div class="col-md-4">
                <h4 class="profile-name">Username: {{ user.username }}</h4>
                <p class="profile-info">Email Address: {{ user.email }}</p>
                <p class="profile-info">Name: {{ user.first_name }}</p>
                <p class="profile-info">Last Name: {{ user.last_name }}</p>
                <p class="profile-info"> Age: {{user_info.age}}</p>
                <p class="profile-info">Gender: {{user_info.gender}}</p>
                <p class="profile-info">City/Country: {{user_info.location}}</p>
                <p class="profile-info">Bio: {{user_info.bio}}</p>
            </div>
            <div class="col-md-4">

            </div>
            <a href="{% url 'edit_profile' %}" class="btn btn btn-outline-info" id="edit-pro">
                <i class="fas fa-pen"></i> Edit Profile
            </a>
        </div>

    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h5 class="profissues">My Requested Features</h5>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Status</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody {% if feature.status == "to do" %} style="background-color: blanchedalmond" {% elif feature.status == "doing" %} style="background-color: khaki" {% elif feature.status == "done" %}style="background-color: aquamarine"{% else %} {% endif %}>
                {% if user_feature or user.user_feature.votes %}
                    <tr>
                    {% for user_feature in user_features %}
                        <td>{{ user_feature.title }}</td>
                        <td>{{ user_feature.status }}</td>
                        <td>€{{ user_feature.price }}</td>
                    {% endfor %}
                    </tr>
                {% else %}
                    <tr>
                        <td> No Feature Requested</td>
                        <td>None</td>
                        <td>€0</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 70px; margin-bottom: 40px;">
            <h5 class="profissues">My Issues</h5>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Status</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                {% if user_bug  %}
                    <tr>
                    {% for user_bug in user_bugs %}
                        <td>{{ user_bug.title }}</td>
                        <td>{{ user_bug.status }}</td>
                        <td>€{{ user_bug.price }}</td>
                    {% endfor %}
                    </tr>
                {% else %}
                    <tr>
                        <td> No Issue Fix Requested </td>
                        <td>None</td>
                        <td>€0</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}