{% extends 'base.html' %} {% load static from staticfiles %} {% block content %}
<div class="container-fluid">
    <div class="bg-image4">
        <div class="row">
            <div class="signup-box">
                <form method="POST">
                    {% csrf_token %}
                    <h1 class="form-header">Sign Up</h1>
                    {{ signup_form.as_p }}
                    <button class="btn btn-info btn-block text-uppercase" type="submit">Sign Up</button>
                    <p class="footer-text">
                        <strong class="alert-text">By clicking “Sign up”, you agree to <br>our <a class="privacy-policy" href="#">Terms of Service and Privacy Statement</a>. We’ll occasionally send you account related emails.<br><br>Already registered?</strong>
                        <a class="redirect-text" href="#">Login here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
