{% extends 'base.html' %} 
{% load bootstrap_tags %}
{% block content %}
{% if cart_items %}
<div class="row row-flex">
    {% for item in cart_items %}
    <div class="caption">
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-display">
            <h3>{{ item.feature.title }}</h3>
            <p class="feature-desscription">{{ item.feature.content }}</p>
            <p>
                <form class="form-inline" method="POST" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                        <div class="input-group">
                            <div class="input-group-addon">Qty</div>
                            <input name="quantity" type="number" min="0" max="999" class="form-control" placeholder="{{ item.quantity }}" required>
                            <p style="font-size: 22px;"><i class="fa fa-euro-sign"></i>{{ item.feature.price }}</p>
                        </div>
                    </div>
                    <button type="submit" class="cartmend-btn"><i class="fa fa-edit"></i>  Amend</button>
                </form>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <p class="carttotal">Total  <i class="fa fa-euro-sign"></i>{{ total }}</p>
    <button href="{% url 'checkout' %}" class="checkout-btn" role="button"><i class="fa fa-credit-card"></i>  Checkout</button>
</div>
{% else %}
<div class="container-fluid">
    <h1 class="noitems">No Items Selected</h1>
    <p class="noitems-description">Selected a feature and click add </p>
    <p class="noitems-description" style="margin-bottom: 109px"><a href="{% url 'allfeatures' %}">Click here</a> to select the features you want</p>
</div>
{% endif %}
{% endblock %}
