{% load static from staticfiles %}
{% load bootstrap_tags %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Exo+2:400,500,600,700,800,900|Merriweather+Sans:400,700,800|Roboto:400,500,700,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/lux/bootstrap.min.css" integrity="sha256-2AE13SXoJY6p0WSPAlYEZpalYyQ1NiipAwSt3s60n8M=" crossorigin="anonymous" />
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'css/mobile.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css" />
        {% block head_js %} {% endblock head_js %}
        <title>{% block page_title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand ml-5" href="#"><img src="{% static 'img/logo.png'%}" class="brand-logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav ml-auto">
                    {% with url_name=request.resolver_match.url_name %}
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="nav-link {% if url_name == 'index' %}active{% endif %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'services' %}" class="nav-link {% if url_name == 'services' %}active{% endif %}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'community' %}" class="nav-link {% if url_name == 'community' %}active{% endif %}">Community</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'contact_us' %}" class="nav-link {% if url_name == 'contact_us' %}active{% endif %}">Contact Us</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link {% if url_name == 'logout' %}active{% endif %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'profile' %}" class="nav-link {% if url_name == 'profile' %}active{% endif %}">Profile</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link {% if url_name == 'login' %}active{% endif %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'signup' %}" class="nav-link {% if url_name == 'signup' %}active{% endif %}">SignUp</a>
                    </li>
                    {% endif %} {% endwith %}
                    <li class="nav-item">
                        <a href="{% url 'view_cart' %}" class="nav-link">
                    		<i class="fa fa-shopping-cart"></i>Cart
                    		{% if feature_count > 0 %}
                    			<label class="badge badge-warning">{{ feature_count }}</label>
                    		{% endif %}
                    	</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %} {% block content %} {% endblock %}
        <footer class="page-footer">
            <div class="container-fluid">
                <section id="footerimg">
                    <div class="col-md-12">
                        <img src="{% static 'img/footerr.png'%}" class="footer-logo">
                    </div>
                </section>
            </div>
            <section class="copyrights">
                <span class="copyrights-text">&copy Copyright 2019: unicornattarctor.ie</span>
            </section>
        </footer>
        <script src="https://kit.fontawesome.com/c378931d12.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    </body>

</html>
